@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Clunky Bank Account</h2>
        <p>
            This controller maps objects, but inline, rather than using mappers, which leads to clutter and confusion.
        </p>
        <p>@Html.ActionLink("Go Clunky", "Index", "Clunky", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Clean Bank Account</h2>
        <p>
            This controller uses extension method mappers, cleaning the code and separating responsibilities, keeping the controller clutter-free.
        </p>
        <p>@Html.ActionLink("Go Clean", "Index", "Clean", null, new { @class = "btn btn-default" })
</div>
</div>